<html>
    <head>
        <title>Course Schedule Optimizer</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% load static %}

    </head>
    <body>
        <div>
            <center>
                <h1>Course Schedule Optimizer</h1>
            </center>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-12">
                <form action="/" method="post">
                    <div class="col-md-2">
                    </div>
                    <center>
                    <div class="col-md-4">
                        {% for i in "xxxxxxxx" %}
                            <label>Course {{forloop.counter}} </label>
                            <select id= course{{forloop.counter}}>
                                <option value="CPSC110">CPSC110</option>
                                <option value="CPSC121">CPSC121</option>
                                <option value="CPSC210">CPSC210</option>
                                <option value="CPSC221">CPSC221</option>
                                <option value="CPSC210">CPSC310</option>
                                <option value="CPSC221">CPSC313</option>
                                <option value="CPSC221">CPSC320</option>
                                <option value="CPSC221">CPSC340</option>                                
                            </select><br>
                        {% endfor %}               
                        <input type="submit" value="OK">
                    </div>
                    <div class="col-md-2">
                    </div>
                    </center>
                        <div class="col-md-4">
                        <h2>Options</h2>
                        <select id= "option1">
                            <option value="earliest">earliest</option>
                            <option value="shortest">shortest</option>
                        </select><br>
                    </div>        
                    <center>
                    <div class="col-md-2">
                    </div>
                </center>
            </div>
                </form>
            </div>
        </div>


    </body>
</html>